/* create api */
/* npm init --yes */
/* npm i --save json-server */


.name{
    color: white;
    background-color: black;
    padding: 20px;
    margin: 5px;
    text-align: center;
    display: inline-block;
}